@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  background-color: #EEEEEE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
